<div class="default-bg">
  <div class="contentContainer row">
      <div class="col-4 navBar">
          <app-nav-bar actualRoute="/glasses"></app-nav-bar>
      </div>
      <div class="col-8">
          <div class="col-10">
              <div class="imgTop">
                  <div class="weddingNames">
                      <p>Casamento</p>
                      <p>{{user.name_1}} e {{user.name_2}}</p>
                  </div>
              </div>
              <div class="page-content">
                  <h1>Oculos 360°</h1>
              </div>
              <label for=""><p>ESCOLHA UMA DAS IMAGENS ABAIXO PARA QUE SEJA EXIBIDO AOS CONVIDADOS</p></label>
              <div class="contentContainer row col-12 page">
                <div class="col-6">
                  <div class="row">
                    <input type="checkbox" name="" id="">
                    <label for=""><p>Lorem, ipsum dolor sit amet consectetur</p></label>
                  </div>
                  <div class="row">
                    <input type="image" src="./assets/imgs/pano1.jpg" style="width: 340px" alt="">
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input type="checkbox" name="" id="">
                    <label for=""><p>Lorem, ipsum dolor sit amet consectetur</p></label>
                  </div>
                  <div class="row">
                    <input type="image" src="./assets/imgs/pano1.jpg" style="width: 340px" alt="">

                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
