<div class="default-bg">
  <div class="contentContainer row">
      <div class="col-4 navBar">
          <app-nav-bar actualRoute="/games"></app-nav-bar>
      </div>
      <div class="col-8">
          <div class="col-10">
              <div class="imgTop">
                  <div class="weddingNames">
                      <p>Casamento</p>
                      <p>{{user.name_1}} e {{user.name_2}}</p>
                  </div>
              </div>
              <div class="page-content">
                  <h1>Games</h1>
              </div>
              <div>
                  <img src="./assets/imgs/2x/Asset 7@2x.png" alt="" class="temp">

                  <img src="./assets/imgs/2x/Asset 8@2x.png" alt="" class="temp">

                  <img src="./assets/imgs/2x/Asset 9@2x.png" alt="" class="temp">
              </div>
              
          </div>
      </div>
  </div>
</div>

